<?xml version="1.0" encoding="UTF-8"?>
<!--
~ Hibernate OGM, Domain model persistence for NoSQL datastores
~
~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
-->
<module xmlns="urn:jboss:module:1.1" name="org.apache.ignite-internal" slot="${org.apache.ignite.module.slot}">
    <resources>
        <resource-root path="ignite-indexing-${org.apache.ignite.module.slot}.jar" />
        <resource-root path="ignite-jta-${org.apache.ignite.module.slot}.jar" />
        <resource-root path="ignite-shmem-1.0.0.jar" />
    </resources>
    <dependencies>
        <module name="org.jboss.logging" />

        <module name="com.h2database.h2" export="true"/>
        <module name="org.apache.commons.codec" export="true"/>
        <module name="sun.jdk" export="true"/>
        <module name="javax.cache" export="true"/>
    </dependencies>
</module>
